img{
	 width: 30vw;
  height: 30vw;
	float: center;
	margin: 1.66%;
}
p{
	font-family: Chelsea Market;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 3px solid red;
	width: 30%;

}
