h1 {
	color: rgba(0,200,100,0.8);
	border-color: purple;
	boder-width: 5px;
	border-style: solid;
	}

h4{
	background:rgb(255,100,80);
	}
li{
	color:orange;	
}
body
{
background: url(https://www.itl.cat/pngfile/big/73-734936_blue-flowers-hd-desktop-wallpaper-widescreen-high-definition.jpg)
}
